{% extends 'base.html' %}
{% load static %}
{% block head %}
  <title>{{blog.title}}</title>
  <style>
      .field-wrapper {
        margin-top: 10px;
        margin-bottom: 10px;
      }
  </style>
{% endblock %}
{% block content %}
<div class="container">
    {% include 'nav.html' %}
    <div class="row mt-5">
          <div class="col-12 card p-3">
              <div class="col-12 d-flex justify-content-between items-center">
                <h3>{{ blog.title }}</h3>
                  {% if blog.owner.id == user.id %}
                    <a class="btn btn-danger" href="/blogs/{{blog.id}}/delete/" role="button">Delete blog</a>
                  {% endif %}
              </div>
              <div class="col-12">
                <p>{{ blog.description }}</p>
              </div>
          </div>
    </div>
    {% if user.id == blog.owner.id %}
        <div class="row">
            <div class="col-12 card p-3 my-3">
                <form action="/blogs/{{blog.id}}/posts-create/" method="POST" novalidate>
                  <h4>Write something new here:</h4>
                  {% csrf_token %}
                    {% for field in form %}
                        <div class="field-wrapper">
                            {{ field.label_tag }} {{ field }}
                            <div class="text-danger">
                            {{ field.errors }}
                            </div>
                        </div>
                    {% endfor %}
                  <button class="btn btn-primary d-block col-12" type="submit">Create</button>
                </form>
            </div>
        </div>
    {% endif %}
    <div class="row">
        {% if posts|length %}
            {% for post in posts %}
                <div class="col-4">
                    <div class="card p-2">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ blog.content}}</p>
                                    <p class="card-text">{{ blog.created_at }}</p>
                                    <a href="/posts/{{post.id}}/" class="btn btn-primary">Go</a>
                                    <a href="/posts/{{post.id}}/delete/" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12 card mt-3">
                          <h4>No posts are created yet!</h4>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}